/* Переменные цветов проекта */

:root {
  --dark-grey: #1f1f1f; /* Фон */
  --grey: #f2f2f2; /* Фон */
  --blue: #2f80ed; /* Ссылки, фигуры */
  --black: #000; /* Текст */
  --white: #fff; /* Текст для темной темы */
}
